@charset "utf-8";
/**
* ゲストtopのみ使用するCSS
* @auth miho.kojima
* @since 2009/11/12
*/


/* ヘッダー
-------------------------------------------*/
table#header_main_table { /* ロゴ等の主要なヘッダー部分 */
	width: 890px;
}

div#headbar_main  {/* ヘッダーのバーの中 */
	width: 890px;
}

/* レイアウト
-------------------------------------------*/
div#page {/* ページ全体 */
	margin-right: auto;
	margin-left: auto;
	background-image: url(../img/guest_top_bg.gif);
/*	background-image: url(../img/xmas/bg2.gif); */     /* X'mas Version */
	background-repeat: repeat-x;
	text-align: left;
}



div#menu_contents {/* メニューとコンテンツの高さをそろえるブロック */
	width: 890px;
	background-color: transparent;
}

div#navigation_menu {/* メニュー */
	width: 230px;
	padding-left:0px;
}

div#contents {/* コンテンツ */
	width: 642px;
	padding-left:12px;
}

div#footer { /* フッター */
	width: 890px;
}


/* ナビゲーションメニュー
-------------------------------------------*/
div#introduction_navi{ /* メニュー */
	height: 350px;
}
div#bunner_box {/* バナーのブロック */
	width: 232px;
	margin-top: 94px;
	/margin-top: 81px;
}
/* コンテンツ
-------------------------------------------*/
table#main_visual{/* メインビジュアル */
	height: 410px;
	width: 660px;
	margin-top: 10px;
}
td#ianki_introduction_top{
	width: 404px;
	height: 80px;
	vertical-align: top;
}
td#ianki_introduction{
	width: 404px;
	padding-left: 7px;
	text-align: left;
	font-size: 14px;
	color: #717171;
	vertical-align: top;
}
td#ianki_introduction a{
	color: #5dc4e8;
}
table#main_visual td#apple_store_link{/* アップストアリンク */
	height: 80px;
	text-align: left;
	vertical-align: top;
	padding-left: 7px;
	vertical-align: middle;
}
div#topic_top{
	background-image: url(../img/topic_head_line_introduction.gif);
	background-repeat: no-repeat;
	background-position:top;
	text-align: top;
	padding-top: 48px;
}
